# Case Study on ANOVA

In [1]:
import numpy as np
import pandas as pd

In [6]:
filename="C:/Users/user/Downloads/Sales_data_zone_wise.csv"
data=pd.read_csv(filename)

In [8]:
data.head()

       Month  Zone - A  Zone - B  Zone - C  Zone - D
0  Month - 1   1483525   1748451   1523308   2267260
1  Month - 2   1238428   1707421   2212113   1994341
2  Month - 3   1860771   2091194   1282374   1241600
3  Month - 4   1871571   1759617   2290580   2252681
4  Month - 5   1244922   1606010   1818334   1326062

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Month     29 non-null     object
 1   Zone - A  29 non-null     int64
 2   Zone - B  29 non-null     int64
 3   Zone - C  29 non-null     int64
 4   Zone - D  29 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.3+ KB

In [10]:
data.describe()

           Zone - A      Zone - B      Zone - C      Zone - D
count  2.900000e+01  2.900000e+01  2.900000e+01  2.900000e+01
mean   1.540493e+06  1.755560e+06  1.772871e+06  1.842927e+06
std    2.619401e+05  1.683899e+05  3.331937e+05  3.750165e+05
min    1.128185e+06  1.527574e+06  1.237722e+06  1.234311e+06
25%    1.305972e+06  1.606010e+06  1.523308e+06  1.520406e+06
50%    1.534390e+06  1.740365e+06  1.767047e+06  1.854412e+06
75%    1.820196e+06  1.875658e+06  2.098463e+06  2.180416e+06
max    2.004480e+06  2.091194e+06  2.290580e+06  2.364132e+06

# ● The mean sales generated by each zone.

In [29]:
data.mean()

Zone - A       1.540493e+06
Zone - B       1.755560e+06
Zone - C       1.772871e+06
Zone - D       1.842927e+06
Total Sales    1.382370e+07
dtype: float64

# ● Total sales generated by all the zones for each month.

In [22]:
data['Total Sales']=data.sum(axis=1)
data.head()

       Month  Zone - A  Zone - B  Zone - C  Zone - D  Total Sales
0  Month - 1   1483525   1748451   1523308   2267260     14045088
1  Month - 2   1238428   1707421   2212113   1994341     14304606
2  Month - 3   1860771   2091194   1282374   1241600     12951878
3  Month - 4   1871571   1759617   2290580   2252681     16348898
4  Month - 5   1244922   1606010   1818334   1326062     11990656

# ● Check whether all the zones generate the same amount of sales.

In [ ]:
import scipy.stats as stats
from scipy.stats import f_oneway

H0: All the Zones generates the same amount of sales
H1: All the zones generates the different amount of sales

In [23]:
fvalue,pvalue=stats.f_oneway(data['Zone - A'],data['Zone - B'],data['Zone - C'])
print('f-value :',fvalue)
print('P-value :',pvalue)

f-value : 7.010165231945492
P-value : 0.0015291538969922328

Here P-value is lessthan 0.05. So we reject the null hypothesis and accept the alternative hypothesis.
Therefore, All the Zones generates the different amount of sales.